@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "variables";
@import "bootstrap";
@import "messages";
@import "object-edit";
@import "relation-picker";
@import "materialdesignicons";
@import "buttons";

html {
  position: relative;
  min-height: 100%;
}

#app {
  margin-top: 60px;
}