.idea
*iml
fonts
node_modules
dist
typings
src/**/*.js
src/**/*.js.map
src/css
demo/**/*.js
demo/**/*.js.map
test/unit/**/*.js
test/unit/**/*.js.map
!test/unit/config/**/*
index.js
index.js.map
*.d.ts
references.js
references.js.map
*.DS_Store
npm-debug.log