.idea
*iml
fonts
node_modules
typings
demo/**/*.js
demo/**/*.js.map
src/app/**/*.js
src/app/**/*.js.map
src/test/**/*.js
src/test/**/*.js.map
messages.js*
datastore.js*
documents.js*
core.js*
references.js
references.js.map
*.DS_Store
