.idea
*iml
fonts
node_modules
typings
demo/**/*.js
demo/**/*.js.map
test/browser/**/*.js
test/browser/**/*.js.map
test/e2e/**/*.js
test/e2e/**/*.js.map
!test/e2e/config/**/*
!test/browser/config/**/*
persist.js*
messages.js*
datastore.js*
documents.js*
widgets.js*
configuration.js*
core.js*
references.js
references.js.map
*.DS_Store
