<div *ngIf="document">

    <div *ngIf="document['resource'].type"
         id="object-edit">

        <h1>
            {{objectTypeLabel}}
            <div *ngIf="document['resource'].type">
                <small>Typ: {{document['resource'].type}}</small>
            </div>

        </h1>

        <div class="container">
            <div class="row flex-items-md-top">

                    <div class="col-md">
                        <edit-form [(document)]="document"
                                   [fieldsForObjectType]="fieldsForObjectType"></edit-form>
                    </div>
                    <div class="col-md">
                        <relations-form [(document)]="document"
                                        [primary]="primary"
                                        [relationFields]="relationFields"></relations-form>
                    </div>

            </div>
        </div>
    </div>
</div>