<div *ngIf="document">

    <div *ngIf="document['resource'].type"
         id="object-edit" >

        <h1>
            {{objectTypeLabel}}
            <div *ngIf="document['resource'].type"><small>Typ: {{document['resource'].type}}</small></div>

        </h1>

        <div class="row">

            <form>
                <div class="col-md-7">
                    <edit-form [(document)]="document"
                           [fieldsForObjectType]="fieldsForObjectType"></edit-form>
                </div>
                <div class="col-md-5">
                    <relations-form [(document)]="document"
                                [primary]="primary"
                                [relationFields]="relationFields"></relations-form>
                </div>
            </form>

        </div>
    </div>
</div>