<div  *ngFor="let field of fieldsForObjectType; let i=index" id="edit-form-element-{{i}}">
    <div *ngIf="field" class="form-group card">
        <div class="card-header">
            <span *ngIf="field.label">{{field.label}}</span>
            <span *ngIf="!field.label">{{field.name}}</span>
        </div>

        <div class="card-block">

            <dai-input *ngIf="field.inputType == 'input' || (field.inputType == undefined && field.inner == undefined)" [(resource)]="document['resource']" [fieldName]="field.name"></dai-input>

            <dai-inputs *ngIf="field.inputType == 'inputs'" [(field)]="document['resource'][field.name]"></dai-inputs>

            <dai-localized-input *ngIf="field.localized" [(field)]="document['resource'][field.name]" [innerInputType]="field.inner.inputType" ></dai-localized-input>

            <dai-text *ngIf="field.inputType == 'text'" [(resource)]="document['resource']" [fieldName]="field.name"></dai-text>

            <dai-dropdown *ngIf="field.inputType == 'dropdown'" [(resource)]="document['resource']" [field]="field"></dai-dropdown>

            <dai-radio *ngIf="field.inputType == 'radio'" [(resource)]="document['resource']" [field]="field"></dai-radio>

            <dai-checkboxes *ngIf="field.inputType == 'checkboxes'" [(resource)]="document['resource']" [field]="field"></dai-checkboxes>

            <dai-multiselect *ngIf="field.inputType == 'multiselect'" [(resource)]="document['resource']" [field]="field"></dai-multiselect>

        </div>
    </div>
</div>



