<div *ngFor="let field of fieldsForObjectType; let i=index" id="edit-form-element-{{i}}">
    <div *ngIf="field" class="form-group">

        <label *ngIf="field.label">{{field.label}}</label>
        <label *ngIf="!field.label">{{field.name}}</label>


        <string-input *ngIf="field.inputType == 'input/single/simple' || (field.inputType == undefined && field.inner == undefined)" [(resource)]="document['resource']" [fieldName]="field.name"></string-input>

        <input-array *ngIf="field.inputType == 'input/multi/simple'" [(field)]="document['resource'][field.name]"></input-array>

        <localized *ngIf="field.localized" [(field)]="document['resource'][field.name]" [innerInputType]="field.inner.inputType" ></localized>

        <input-text *ngIf="field.inputType == 'input/single/text'" [(resource)]="document['resource']" [fieldName]="field.name"></input-text>

        <select-single-dropdown *ngIf="field.inputType == 'select/single/dropdown'" [(resource)]="document['resource']" [field]="field"></select-single-dropdown>

        <select-single-radio *ngIf="field.inputType == 'select/single/radio'" [(resource)]="document['resource']" [field]="field"></select-single-radio>

        <select-multi-checkbox *ngIf="field.inputType == 'select/multi/checkbox'" [(resource)]="document['resource']" [field]="field"></select-multi-checkbox>

        <select-multi-multiselect *ngIf="field.inputType == 'select/multi/multiselect'" [(resource)]="document['resource']" [field]="field"></select-multi-multiselect>

    </div>
</div>



