<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Relationen</h3>
    </div>
    <ul class="list-group">
        <template ngFor [ngForOf]="relationFields" let-relationField="$implicit">
            <li *ngIf="relationField.domain.indexOf(document.resource.type) > -1" class="list-group-item">
                <label *ngIf="relationField.label">{{relationField.label}}</label>
                <label *ngIf="!relationField.label">{{relationField.field}}</label>
                <relation-picker-group [(document)]="document" [field]="relationField" [primary]="primary"></relation-picker-group>
            </li>
        </template>
    </ul>
</div>




