.popover-content .filtermenu .list-group {
  max-height: calc(100vh - 350px) !important;
  width: 280px;
  overflow: auto;
}

#searchfilter {
  z-index: 3;
  padding: 4px 1em;

  .mdi-filter {
    line-height: 28px;
  }
}

#search-bar #object-search {
  width: 100%;
  padding: 9px;
}

#search-bar #filter-button {
  position: absolute;
  right: 16px;
}

#search-bar #filter-button img {
  width: 20px;
  height: 20px;
}

.filtermenu ul li.list-group-item {
  border: 1px solid #eee !important;
  display: block;

  type-icon {
    position: absolute;
  }

  .type-label {
    display: inline-block;
    margin-left: 40px;
    margin-top: 3px;
  }

  .type-label,
  .all-types-label {
    user-select: none;
  }
}

.filtermenu ul li ul {
  margin-top: 10px;
}

.filtermenu ul li:hover > ul li {
  background-color: #eee;
  transition: background-color .65s ease;
}

.filtermenu ul li ul li.list-group-item {
  border: none !important;
}

.filtermenu ul li ul li:hover,
.filtermenu .selected-filter {
  background-color: darken(#eee, 5%) !important;
}
