<form class="form-inline" id="search-bar">

    <input #searchInput
           [(ngModel)]="q"
           (keyup)="emitQueryStringWithTimeout()"
           name="searchInput"
           type="text"
           class="form-control"
           id="object-search"
           placeholder="Suchen...">

    <span class="input-group-btn" id="filter-button" *ngIf="showFiltersMenu">
        <button class="btn btn-primary"
                id="searchfilter"
                type="button"
                [ngbPopover]="filterMenu"
                #p="ngbPopover"
                placement="bottom">
            <span *ngIf="!types || types.length == 0" class="mdi mdi-filter"></span>
            <span *ngIf="types && types.length > 0">
                <type-icon [type]="types[0]" size="30"></type-icon>
            </span>
        </button>

        <ng-template #filterMenu>
            <div class="filtermenu">
                <div class="popover-custom-title">Nach Ressourcentyp filtern:</div>
                <ul class="list-group">
                    <li id="choose-type-filter-option-all"
                        class="list-group-item popover-item"
                        (click)="chooseTypeFilter(undefined); p.close();"
                        [ngClass]="{ 'selected-filter': !types || types.length == 0 }">
                        <i class="all-types-label">Alle Typen</i>
                    </li>

                    <li *ngFor="let parentType of filterOptions; let index = index"
                        class="list-group-item popover-item"
                        (click)="chooseTypeFilter(parentType); p.close();"
                        [ngClass]="{ 'selected-filter': types && types.indexOf(parentType.name) > -1 }">
                        <div id="choose-type-filter-option-{{parentType.name.toLowerCase()}}">
                            <type-icon [type]="parentType.name" size="30"></type-icon>
                            <div class="type-label">{{parentType.label}}</div>
                        </div>
                        <ul *ngIf="parentType.children" style="padding: 0;">
                            <li *ngFor="let childType of parentType.children; let childIndex = index"
                                class="list-group-item popover-item"
                                (click)="chooseTypeFilter(childType); p.close();"
                                [ngClass]="{ 'selected-filter': types && types.indexOf(childType.name) > -1 }">
                                <div id="choose-type-filter-option-{{parentType.name.toLowerCase()}}-{{childType.name.toLowerCase()}}">
                                    <type-icon [type]="childType.name" size="30"></type-icon>
                                    <div class="type-label">{{childType.label}}</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </ng-template>
    </span>
</form>