/**
 * @author: Thomas Kleinke
 * @author: Jan G. Wieners
 */

$buttoncolor: #657faa;

#document-view .card-header {
  padding-bottom: 0;
}

#document-view .card-header .type-icon-container {
  position: absolute;
  top: 16px;
  width: 30px;
  height: 30px;
}

#document-view .card-header .type-icon {
  user-select: none;
  cursor: default;
}

#document-view .card-header .document-title {
  margin-left: 40px;
  margin-top: 8px;
  margin-bottom: 15px !important;
}

#document-view .card-header h4.document-title {
  font-weight: lighter;
  margin-bottom: 0;
  margin-right: 30px;
}

#document-view .card-header .close-button {
  position: absolute;
  top: 25px;
  right: 18px;
  float: right;
  margin-top: -10px !important;
  margin-right: 0 !important;
  font-size: 27px;
  color: $buttoncolor !important;
}

#document-view-button-edit-document,
#document-view-button-solve-conflicts {
  font-size: 20px;
  float: right;
}

#document-view-button-edit-document {
  color: $buttoncolor !important;
}

#document-view-button-solve-conflicts {
  color: red !important;
}

.document-card .card-block {
  overflow: auto;
}

.document-card .btn-link {
  box-shadow: none !important;
}

#document-view-button-back-to-map,
#document-view-button-show-data{
  margin-top: 1px;
  padding: 0;
  font-size: 23px;
  color: $buttoncolor !important;
}

#document-view .card-header .close-button:hover,
#document-view-button-edit-document:hover,
#document-view-button-back-to-map:hover,
#document-view-button-show-data:hover {
  color: lighten($buttoncolor, 10%) !important;
}

#document-view-button-solve-conflicts:hover {
  color: darken(red, 10%) !important;
}