<div class="container-fluid" id="app">

    <p>
        <code>&lt;object-edit [(object)]="selectedObject" [primary]="'id'"&gt;&lt;/object-edit&gt;</code>
    </p>

    <p>
        The <code>primary</code> option determines the object property shown as
        label for the selected relations. If a type has an title field
        and an object has relations to another object, the others object title
        is shown to mark the relation.
    </p>

    <p>
        -
    </p>

    <p>
        Click on the button to select an item. Make your changes and click "Speichern".
    </p>

    <p>
        Click on the button to select another item. Click back on the original item. The changes should have been
        persisted.
    </p>

    <p>
        Try out setting relations. In the appropriate search fields, you can search by entity id (not identifier).
    </p>

    <p>
        -
    </p>
    <ul>
        <li *ngFor="let item of objects; let i=index"><button (click)="clicked(item.id)">Item id: {{i+1}}</button></li>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <object-edit [(object)]="selectedObject" [primary]="'id'"></object-edit>
        </div>
    </div>
</div>