{
  "relations":[
    {
      "name":"Belongs to",
      "inverse":"Includes",
      "label":"Enthalten in"
    },
    {
      "name":"Includes",
      "inverse":"Belongs to",
      "label":"Enthält"
    }
  ]
}