<div id="document-view"
     class="card document-card">

    <div *ngIf="document">
        <div class="card-header">
            <type-icon [type]="document.resource.type" size="30"
                       class="type-icon" ngbTooltip="{{typeLabel}}"
                       placement="bottom">
            </type-icon>
            <h4 class="document-title">
                <span id="document-view-resource-type-label">{{document.resource.identifier}}</span>

                <button class="close-button btn btn-link btn-xs"
                        id="document-view-button-back-to-map"
                        (click)="onDeselect.emit()">
                    <span class="mdi mdi-close"></span>
                </button>
            </h4>
        </div>
        <div class="card-block">
            <button class="btn btn-link"
                    id="document-view-button-edit-document"
                    (click)="onEdit.emit(document)">
                <span class="mdi mdi-pencil"></span>
            </button>
            <button *ngIf="document._conflicts" class="btn btn-link btn-xs"
                    id="document-view-button-solve-conflicts"
                    (click)="onSolveConflicts.emit(document)">
                <span class="mdi mdi-alert-outline"></span>
            </button>

            <ng-content></ng-content>
        </div>
    </div>
</div>