.document-teaser {

  type-icon {
    position: absolute;
    margin-top: 3px;
  }

  type-icon img {
    border-radius: 45px;
  }

  .teasercontent,
  .new {
    display: inline-block;
    margin-left: 45px;
  }

  .title {
    color: #111;
  }

  .subtitle {
    font-size: 0.7em;
    color: #999;
  }
}