<div  *ngFor="let field of fieldDefinitions; let i=index" id="edit-form-element-{{i}}">
    <div *ngIf="field && (field.editable==true)" class="form-group card">
        <div class="card-header">
            <span *ngIf="field.label" data-toggle="tooltip" data-placement="left" title="{{field.description}}">{{field.label}}</span>
            <span *ngIf="!field.label" data-toggle="tooltip" data-placement="left" title="{{field.description}}">{{field.name}}</span>
        </div>

        <div class="card-block">

            <dai-input *ngIf="field.inputType == 'input' || (field.inputType == undefined && field.inner == undefined)" [(resource)]="document['resource']" [fieldName]="field.name"></dai-input>

            <dai-inputs *ngIf="field.inputType == 'inputs'" [(resource)]="document['resource']" [fieldName]="field.name"></dai-inputs>

            <dai-inputs-localized *ngIf="field.inputType == 'inputs_localized'" [(resource)]="document['resource']" [field]="field" ></dai-inputs-localized>

            <dai-text *ngIf="field.inputType == 'text'" [(resource)]="document['resource']" [fieldName]="field.name"></dai-text>

            <dai-dropdown *ngIf="field.inputType == 'dropdown'" [(resource)]="document['resource']" [field]="field"></dai-dropdown>

            <dai-radio *ngIf="field.inputType == 'radio'" [(resource)]="document['resource']" [field]="field"></dai-radio>

            <dai-checkboxes *ngIf="field.inputType == 'checkboxes'" [(resource)]="document['resource']" [field]="field"></dai-checkboxes>

            <dai-multiselect *ngIf="field.inputType == 'multiselect'" [(resource)]="document['resource']" [field]="field"></dai-multiselect>

        </div>
    </div>
</div>


