<h3 class="fieldname relations" (click)="isCollapsed = !isCollapsed">
    Relationen
    <span class="mdi mdi-chevron-down" *ngIf="isCollapsed"></span>
    <span class="mdi mdi-chevron-up" *ngIf="!isCollapsed"></span>
</h3>

<div *ngIf="isCollapsed">
    <div *ngFor="let relation of relations">
        <div class="document-view-field">
            <div class="fieldname">{{relation.name}}</div>
            <div *ngFor="let target of relation.targets" class="fieldvalue">
                <div *ngIf="doc.resource.shortDescription">
                    <a class="relation-link" (click)="clickRelation(target)">{{target.resource.shortDescription}}
                        ({{target.resource.identifier}})</a>
                </div>
                <div *ngIf="!doc.resource.shortDescription">
                    <a class="relation-link" (click)="clickRelation(target)">{{target.resource.identifier}}</a>
                </div>
            </div>
        </div>
    </div>
</div>