#map-container {
  width: 100%;
  height: 400px;

  .vector-marker {
    filter: saturate(50%);

    path {
      stroke: white;
    }

    i.active {
      color: black;
    }
  }

  .leaflet-overlay-pane {

    path {
      stroke-width: 0;

      &.main {
        stroke-width: 1px;
        stroke-dasharray: 5;
        stroke-opacity: 0.2;
        fill: none;
      }

      &.active {
        fill-opacity: 0.5;
      }

      &.editable {
        stroke: blue;
        stroke-width: 1px;
      }

      &.templine {
        stroke: blue;
        stroke-width: 1px;
      }

      &.hintline {
        stroke: blue;
        stroke-width: 1px;
        stroke-dasharray: 5;
      }
    }
  }
}