#map-container {
  width: 100%;
  height: 400px;

  .vector-marker {
    filter: saturate(50%);

    path {
      stroke: white;
    }

    i.active {
      color: black;
    }
  }

  .leaflet-overlay-pane {

    path {

      &.polygon {
        stroke-width: 0px;

        &.active {
          fill-opacity: 0.5;
        }
      }

      &.polyline {
        stroke-width: 2px;
        stroke-opacity: 0.5;

        &.active {
          stroke-opacity: 1.0;
        }
      }

      &.main {
        stroke-width: 1px;
        stroke-dasharray: 5;
        stroke-opacity: 0.2;
        fill: none;
      }
    }
  }
}